body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    
}
.red{
    color: red;
}
h1{
    font-size: 70px;
}
h3{
    font-size: 30px;
}
section{
    display: flex;
    margin-bottom: 70PX;
    
}
.half-width{
    width: 50%;
    padding: 2%;
}
.link-button{
    background-image: linear-gradient(red, yellow);
padding: 10px 40px;
border-radius: 10px;
font-weight: 700;
color: black;
text-decoration: none;
}
.side-move{
    padding: 2%;
}
.top-banner{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}
.recipies{
    text-align: center;
}
.different{
    text-align: center;
}
.most{
    margin-bottom: 70px;
}
.famous{
    width: 30%;
    border:20px solid white;
    border-radius: 10px;
    margin: 5%;
    padding-left: 10px;
    border-radius: 10px;
}
.famous img{
    width: 100%;
    border-radius: 10px;
    
}
.network{
    text-align: center;
}

